*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  max-width: 100%;
}
 
nav ul a, nav .brand-logo {
   color: whitesmoke;
 }

.addCast {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Rajdhani', sans-serif;
}

.brand-logo {
  font-family: 'Orbitron', sans-serif;
}

.card-action {
  font-size: 16px;
}

.card-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
}

.date {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.displayToday {
  font-size: 13px;
  width: 475px; 
}

.divBlocks {
  max-width: 475px;
  float: left;
  margin-right: 20px;
}

/* The next half dozen or so  are shamlessly stolen from StackOverflow */
.dropdown-content li>a {
  color: black;
}

.input-field input[type=text]:focus + label {
  color: #000 !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: black !important;
 }

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: black !important;
 }

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
 }

.input-field .prefix.active {
  color: black;
}

.select-wrapper ul>li>span {
  color: black;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid black;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.sidenav-trigger {
  color: whitesmoke;
}

.text-block {
  position: absolute;
  margin-left: 35%; 
  padding-bottom: 20px;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
} 

#errorMessage {
  color: red;
}

#imageSized {
  width: 200%;
}

#loginBackground {
  background-image: url('../images/secondimageattempt.jpg');
  background-size: cover;
}

#loginForm {
  background-color: whitesmoke;
  padding: 1em;
  border: 1px solid black;
  border-radius: 25px;
}

#logoutButton {
  margin: 0 0 1em 0;
}

#seasonDivLoc{
  margin-top: 80px;
}

#todayShow-8 {
 clear: both;  
} 

#todayShow-14 {
  clear: both;
}

#welcomeBack {
  color: black;
  background-color: whitesmoke;
  padding: 0 1em;
  border: 1px solid black;
  border-radius: 25px;
}
